.profile {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
}

.profile__sidebar {
  display: flex;
}
.profile__signout-btn {
  margin-top: 10px;
  padding: 10px 14px;
  background-color: transparent;
  border: 1px solid #d9534f;
  color: #d9534f;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease;
}

.profile__signout-btn:hover {
  background-color: #d9534f;
  color: white;
}
