@font-face {
  font-family: "CabinetGrotesk";
  src:
    url("./CabinetGrotesk-Bold.woff2") format("woff2"),
    url("./CabinetGrotesk-Bold.woff") format("woff"),
    url("./CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
}
