@font-face {
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("./CabinetGrotesk-Bold.woff2") format("woff2"),
    url("./CabinetGrotesk-Bold.woff") format("woff"),
    url("./CabinetGrotesk-Bold.ttf") format("truetype");
}
