.modal_type_confirm .modal__delete-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  width: 670px;
  height: 280px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.modal__confirm-text {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 12px;
}

.modal__confirm-action {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.modal__confirm-button {
  background: none;
  border: none;
  color: #ff4d00;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.modal__confirm-button:hover {
  color: #ff2200;
}

.modal__cancel-button {
  background: none;
  border: none;
  margin-top: 24px;
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.modal__close-icon {
  width: 20px;
  height: 20px;
}
