.card {
  margin: 0;
  padding: 0;
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid #0000004d;
  border-radius: 20px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 2px 12px 2px 12px;
  gap: 8px;
  border-radius: 4px;
  background: #ffffff;
  color: #00000099;
}

.card__image {
  width: 100%;
  gap: 20px;
  border-radius: 20px;
}
