.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal__opened {
  display: flex;
}

.modal__content {
  background: white;
  padding: 30px;
  border-radius: 12px;
  position: relative;
  width: 340px;
  display: flex;
  flex-direction: column;
}

.modal__close {
  background: none;
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
}

.modal__form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal__submit {
  padding: 10px;
  border: none;
  width: 100%;
  background-color: #000;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
